.service-parent {
  background-color: rgba(217, 217, 217, 0.5);
  border: 3px solid #fff;
  border-radius: 1rem;
  color: aliceblue;
  padding: 30px;
  margin: 5rem 0 5rem 0;
}

.service-heading {
  text-align: center;
  color: #000;
  font-family: "Roboto Slab", serif;
  text-transform: uppercase;
  margin: 3rem 0 2rem 0;
}