.hero-portion {
  display: flex;
  min-height: 100vh;
  margin: 2.5rem 0;
}

.hero-title {
  flex: 1;
  margin: auto;
  font-family: "Roboto Slab", serif;
}

.hero-title h1 {
  width: 500px;
  margin: auto;
  text-align: center;
  color: whitesmoke;
  font-size: 3rem !important;
  line-height: 5rem;
}

.hero-form {
  flex: 1;
  width: 380px;
  background-color: rgba(245, 245, 245, 0.79);
  padding: 1.5rem;
  border-radius: 1.3rem;
  height: fit-content;
  margin: auto;
}

.hero-form h2 {
  font-family: "Roboto Slab", serif;
}

.hero-form-container input, .hero-form-container textarea {
  background-color: #748598;
  border: 2px solid #9F9E9E;
}

@media only screen and (max-width: 768px) {
  .hero-portion {
    margin: 7rem 0;
    flex-direction: column;
    gap: 2rem;
  }

  .hero-title h1 {
    font-size: 2.4rem !important;
    line-height: normal;
  }
}

@media only screen and (max-width: 480px) {
  .hero-portion {
    margin: 7rem 0;
  }

  .hero-title h1 {
    width: 320px;
    font-size: 2rem !important;
    line-height: normal
  }

  .hero-form {
    width: 320px;
    padding: 1rem;
    height: fit-content;
  }
}