.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-portion {
  background-color: #4E647D;
  color: whitesmoke;
  text-align: center;
  padding: 4rem 0;
}

.container {
  flex: 1;
}

.map {
  flex: 1;
}

.footer-icons {
  display: flex;
  gap: 14px;
  justify-content: center;
}

.footer-icons svg:hover {
  transition: transform 0.5s ease-in-out;
}

.footer-icons svg:hover {
  transform: scale(1.2);
}

.footer-h2 {
  font-family: "Roboto Slab", serif;
  margin: 30px 0 10px;
}

.footer-p {
  margin-bottom: 0;
  color: whitesmoke;
}

@media only screen and (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    gap: 30px;
  }
}